<?php
/**
 * CampaignBidModifierApi
 * PHP version 5
 *
 * @category Class
 * @package  Dcm
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Dolead Campaign Manager API v1.0
 *
 * No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Dcm\Api;

use \Dcm\Configuration;
use \Dcm\ApiClient;
use \Dcm\ApiException;
use \Dcm\ObjectSerializer;

/**
 * CampaignBidModifierApi Class Doc Comment
 *
 * @category Class
 * @package  Dcm
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class CampaignBidModifierApi
{

    /**
     * API Client
     *
     * @var \Dcm\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Dcm\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Dcm\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://dcmapi.dolead.com/v1');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Dcm\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Dcm\ApiClient $apiClient set the API client
     *
     * @return CampaignBidModifierApi
     */
    public function setApiClient(\Dcm\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation controllersCampaignBidModifierBimoList
     *
     * List campaign bid modifiers matching given criteria
     *
     * @param string $campaign_id ID of campaign (required)
     * @param string $bm_type Filter over the bid modifier type (required)
     * @param \Dcm\Model\BidModifierQuery $body  (optional)
     * @param int $limit Number of campaign returned. Used in pagination (optional, default to 100)
     * @param int $offset Pagination offset (optional, default to 0)
     * @return \Dcm\Model\BidModifier[]
     * @throws \Dcm\ApiException on non-2xx response
     */
    public function controllersCampaignBidModifierBimoList($campaign_id, $bm_type, $body = null, $limit = null, $offset = null)
    {
        list($response) = $this->controllersCampaignBidModifierBimoListWithHttpInfo($campaign_id, $bm_type, $body, $limit, $offset);
        return $response;
    }

    /**
     * Operation controllersCampaignBidModifierBimoListWithHttpInfo
     *
     * List campaign bid modifiers matching given criteria
     *
     * @param string $campaign_id ID of campaign (required)
     * @param string $bm_type Filter over the bid modifier type (required)
     * @param \Dcm\Model\BidModifierQuery $body  (optional)
     * @param int $limit Number of campaign returned. Used in pagination (optional, default to 100)
     * @param int $offset Pagination offset (optional, default to 0)
     * @return Array of \Dcm\Model\BidModifier[], HTTP status code, HTTP response headers (array of strings)
     * @throws \Dcm\ApiException on non-2xx response
     */
    public function controllersCampaignBidModifierBimoListWithHttpInfo($campaign_id, $bm_type, $body = null, $limit = null, $offset = null)
    {
        // verify the required parameter 'campaign_id' is set
        if ($campaign_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $campaign_id when calling controllersCampaignBidModifierBimoList');
        }
        // verify the required parameter 'bm_type' is set
        if ($bm_type === null) {
            throw new \InvalidArgumentException('Missing the required parameter $bm_type when calling controllersCampaignBidModifierBimoList');
        }
        if (!is_null($limit) && ($limit > 100.0)) {
            throw new \InvalidArgumentException('invalid value for "$limit" when calling CampaignBidModifierApi.controllersCampaignBidModifierBimoList, must be smaller than or equal to 100.0.');
        }
        if (!is_null($limit) && ($limit < 1.0)) {
            throw new \InvalidArgumentException('invalid value for "$limit" when calling CampaignBidModifierApi.controllersCampaignBidModifierBimoList, must be bigger than or equal to 1.0.');
        }

        if (!is_null($offset) && ($offset < 0.0)) {
            throw new \InvalidArgumentException('invalid value for "$offset" when calling CampaignBidModifierApi.controllersCampaignBidModifierBimoList, must be bigger than or equal to 0.0.');
        }

        // parse inputs
        $resourcePath = "/campaign/{campaign_id}/bid_modifier/{bm_type}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($limit !== null) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($limit);
        }
        // query params
        if ($offset !== null) {
            $queryParams['offset'] = $this->apiClient->getSerializer()->toQueryValue($offset);
        }
        // path params
        if ($campaign_id !== null) {
            $resourcePath = str_replace(
                "{" . "campaign_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($campaign_id),
                $resourcePath
            );
        }
        // path params
        if ($bm_type !== null) {
            $resourcePath = str_replace(
                "{" . "bm_type" . "}",
                $this->apiClient->getSerializer()->toPathValue($bm_type),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('DCM-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['DCM-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Dcm\Model\BidModifier[]',
                '/campaign/{campaign_id}/bid_modifier/{bm_type}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Dcm\Model\BidModifier[]', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Dcm\Model\BidModifier[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation controllersCampaignBidModifierGet
     *
     * Get bid modifier by its id
     *
     * @param string $campaign_id ID of campaign (required)
     * @param string $bm_type Filter over the bid modifier type (required)
     * @param string $bid_modifier_id ID of bid modifier (required)
     * @return \Dcm\Model\BidModifier
     * @throws \Dcm\ApiException on non-2xx response
     */
    public function controllersCampaignBidModifierGet($campaign_id, $bm_type, $bid_modifier_id)
    {
        list($response) = $this->controllersCampaignBidModifierGetWithHttpInfo($campaign_id, $bm_type, $bid_modifier_id);
        return $response;
    }

    /**
     * Operation controllersCampaignBidModifierGetWithHttpInfo
     *
     * Get bid modifier by its id
     *
     * @param string $campaign_id ID of campaign (required)
     * @param string $bm_type Filter over the bid modifier type (required)
     * @param string $bid_modifier_id ID of bid modifier (required)
     * @return Array of \Dcm\Model\BidModifier, HTTP status code, HTTP response headers (array of strings)
     * @throws \Dcm\ApiException on non-2xx response
     */
    public function controllersCampaignBidModifierGetWithHttpInfo($campaign_id, $bm_type, $bid_modifier_id)
    {
        // verify the required parameter 'campaign_id' is set
        if ($campaign_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $campaign_id when calling controllersCampaignBidModifierGet');
        }
        // verify the required parameter 'bm_type' is set
        if ($bm_type === null) {
            throw new \InvalidArgumentException('Missing the required parameter $bm_type when calling controllersCampaignBidModifierGet');
        }
        // verify the required parameter 'bid_modifier_id' is set
        if ($bid_modifier_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $bid_modifier_id when calling controllersCampaignBidModifierGet');
        }
        // parse inputs
        $resourcePath = "/campaign/{campaign_id}/bid_modifier/{bm_type}/{bid_modifier_id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($campaign_id !== null) {
            $resourcePath = str_replace(
                "{" . "campaign_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($campaign_id),
                $resourcePath
            );
        }
        // path params
        if ($bm_type !== null) {
            $resourcePath = str_replace(
                "{" . "bm_type" . "}",
                $this->apiClient->getSerializer()->toPathValue($bm_type),
                $resourcePath
            );
        }
        // path params
        if ($bid_modifier_id !== null) {
            $resourcePath = str_replace(
                "{" . "bid_modifier_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($bid_modifier_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('DCM-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['DCM-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Dcm\Model\BidModifier',
                '/campaign/{campaign_id}/bid_modifier/{bm_type}/{bid_modifier_id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Dcm\Model\BidModifier', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Dcm\Model\BidModifier', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation controllersCampaignBidModifierUpdateMany
     *
     * Update bid modifiers matching given criteria.
     *
     * @param string $campaign_id ID of campaign (required)
     * @param string $bm_type Filter over the bid modifier type (required)
     * @param \Dcm\Model\BidModifierUpdate $body  (optional)
     * @return string[]
     * @throws \Dcm\ApiException on non-2xx response
     */
    public function controllersCampaignBidModifierUpdateMany($campaign_id, $bm_type, $body = null)
    {
        list($response) = $this->controllersCampaignBidModifierUpdateManyWithHttpInfo($campaign_id, $bm_type, $body);
        return $response;
    }

    /**
     * Operation controllersCampaignBidModifierUpdateManyWithHttpInfo
     *
     * Update bid modifiers matching given criteria.
     *
     * @param string $campaign_id ID of campaign (required)
     * @param string $bm_type Filter over the bid modifier type (required)
     * @param \Dcm\Model\BidModifierUpdate $body  (optional)
     * @return Array of string[], HTTP status code, HTTP response headers (array of strings)
     * @throws \Dcm\ApiException on non-2xx response
     */
    public function controllersCampaignBidModifierUpdateManyWithHttpInfo($campaign_id, $bm_type, $body = null)
    {
        // verify the required parameter 'campaign_id' is set
        if ($campaign_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $campaign_id when calling controllersCampaignBidModifierUpdateMany');
        }
        // verify the required parameter 'bm_type' is set
        if ($bm_type === null) {
            throw new \InvalidArgumentException('Missing the required parameter $bm_type when calling controllersCampaignBidModifierUpdateMany');
        }
        // parse inputs
        $resourcePath = "/campaign/{campaign_id}/bid_modifier/{bm_type}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($campaign_id !== null) {
            $resourcePath = str_replace(
                "{" . "campaign_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($campaign_id),
                $resourcePath
            );
        }
        // path params
        if ($bm_type !== null) {
            $resourcePath = str_replace(
                "{" . "bm_type" . "}",
                $this->apiClient->getSerializer()->toPathValue($bm_type),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('DCM-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['DCM-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                'string[]',
                '/campaign/{campaign_id}/bid_modifier/{bm_type}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, 'string[]', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation controllersCampaignBidModifierUpdateOne
     *
     * Update bid_modifier by its id
     *
     * @param string $campaign_id ID of campaign (required)
     * @param string $bm_type Filter over the bid modifier type (required)
     * @param string $bid_modifier_id ID of bid_modifier to perform update on (required)
     * @param \Dcm\Model\UpdatableBidModifier $body Update operation (required)
     * @return \Dcm\Model\BidModifier
     * @throws \Dcm\ApiException on non-2xx response
     */
    public function controllersCampaignBidModifierUpdateOne($campaign_id, $bm_type, $bid_modifier_id, $body)
    {
        list($response) = $this->controllersCampaignBidModifierUpdateOneWithHttpInfo($campaign_id, $bm_type, $bid_modifier_id, $body);
        return $response;
    }

    /**
     * Operation controllersCampaignBidModifierUpdateOneWithHttpInfo
     *
     * Update bid_modifier by its id
     *
     * @param string $campaign_id ID of campaign (required)
     * @param string $bm_type Filter over the bid modifier type (required)
     * @param string $bid_modifier_id ID of bid_modifier to perform update on (required)
     * @param \Dcm\Model\UpdatableBidModifier $body Update operation (required)
     * @return Array of \Dcm\Model\BidModifier, HTTP status code, HTTP response headers (array of strings)
     * @throws \Dcm\ApiException on non-2xx response
     */
    public function controllersCampaignBidModifierUpdateOneWithHttpInfo($campaign_id, $bm_type, $bid_modifier_id, $body)
    {
        // verify the required parameter 'campaign_id' is set
        if ($campaign_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $campaign_id when calling controllersCampaignBidModifierUpdateOne');
        }
        // verify the required parameter 'bm_type' is set
        if ($bm_type === null) {
            throw new \InvalidArgumentException('Missing the required parameter $bm_type when calling controllersCampaignBidModifierUpdateOne');
        }
        // verify the required parameter 'bid_modifier_id' is set
        if ($bid_modifier_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $bid_modifier_id when calling controllersCampaignBidModifierUpdateOne');
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling controllersCampaignBidModifierUpdateOne');
        }
        // parse inputs
        $resourcePath = "/campaign/{campaign_id}/bid_modifier/{bm_type}/{bid_modifier_id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($campaign_id !== null) {
            $resourcePath = str_replace(
                "{" . "campaign_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($campaign_id),
                $resourcePath
            );
        }
        // path params
        if ($bm_type !== null) {
            $resourcePath = str_replace(
                "{" . "bm_type" . "}",
                $this->apiClient->getSerializer()->toPathValue($bm_type),
                $resourcePath
            );
        }
        // path params
        if ($bid_modifier_id !== null) {
            $resourcePath = str_replace(
                "{" . "bid_modifier_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($bid_modifier_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('DCM-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['DCM-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Dcm\Model\BidModifier',
                '/campaign/{campaign_id}/bid_modifier/{bm_type}/{bid_modifier_id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Dcm\Model\BidModifier', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Dcm\Model\BidModifier', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
