<?php
/**
 * GeoBidModifierApi
 * PHP version 5
 *
 * @category Class
 * @package  DcmApiClient
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Dolead Campaign Manager API v1.0
 *
 * No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace DcmApi;

use \DcmApiClient\Configuration;
use \DcmApiClient\ApiClient;
use \DcmApiClient\ApiException;
use \DcmApiClient\ObjectSerializer;

/**
 * GeoBidModifierApi Class Doc Comment
 *
 * @category Class
 * @package  DcmApiClient
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class GeoBidModifierApi
{

    /**
     * API Client
     *
     * @var \DcmApiClient\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \DcmApiClient\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\DcmApiClient\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://dcmapi.dolead.com/v1');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \DcmApiClient\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \DcmApiClient\ApiClient $apiClient set the API client
     *
     * @return GeoBidModifierApi
     */
    public function setApiClient(\DcmApiClient\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation controllersGeoBidModifierList
     *
     * Get bid modifier on an object (account, campaign, ad_group)
     *
     * @param string $biddable_level Type of object (required)
     * @param string $biddable_id ID of object (required)
     * @return \DcmModel\BidModifier
     * @throws \DcmApiClient\ApiException on non-2xx response
     */
    public function controllersGeoBidModifierList($biddable_level, $biddable_id)
    {
        list($response) = $this->controllersGeoBidModifierListWithHttpInfo($biddable_level, $biddable_id);
        return $response;
    }

    /**
     * Operation controllersGeoBidModifierListWithHttpInfo
     *
     * Get bid modifier on an object (account, campaign, ad_group)
     *
     * @param string $biddable_level Type of object (required)
     * @param string $biddable_id ID of object (required)
     * @return Array of \DcmModel\BidModifier, HTTP status code, HTTP response headers (array of strings)
     * @throws \DcmApiClient\ApiException on non-2xx response
     */
    public function controllersGeoBidModifierListWithHttpInfo($biddable_level, $biddable_id)
    {
        // verify the required parameter 'biddable_level' is set
        if ($biddable_level === null) {
            throw new \InvalidArgumentException('Missing the required parameter $biddable_level when calling controllersGeoBidModifierList');
        }
        // verify the required parameter 'biddable_id' is set
        if ($biddable_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $biddable_id when calling controllersGeoBidModifierList');
        }
        // parse inputs
        $resourcePath = "/geo_bid_modifier/{biddable_level}/{biddable_id}/";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($biddable_level !== null) {
            $resourcePath = str_replace(
                "{" . "biddable_level" . "}",
                $this->apiClient->getSerializer()->toPathValue($biddable_level),
                $resourcePath
            );
        }
        // path params
        if ($biddable_id !== null) {
            $resourcePath = str_replace(
                "{" . "biddable_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($biddable_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('DCM-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['DCM-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\DcmModel\BidModifier',
                '/geo_bid_modifier/{biddable_level}/{biddable_id}/'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\DcmModel\BidModifier', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\DcmModel\BidModifier', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation controllersGeoBidModifierUpdateMany
     *
     * Update multiple bid modifiers
     *
     * @param string $biddable_level Type of the biddable object (required)
     * @param string $biddable_id ID of the biddable object (account, campaign, ad_group) (required)
     * @param string $replace replace&#x3D;false means all existing bid modifiers are replaced. (optional, default to true)
     * @param \DcmModel\GeoBidModifier[] $body List with the bid modifiers (criterias and values) (optional)
     * @return \DcmModel\BidModifier
     * @throws \DcmApiClient\ApiException on non-2xx response
     */
    public function controllersGeoBidModifierUpdateMany($biddable_level, $biddable_id, $replace = null, $body = null)
    {
        list($response) = $this->controllersGeoBidModifierUpdateManyWithHttpInfo($biddable_level, $biddable_id, $replace, $body);
        return $response;
    }

    /**
     * Operation controllersGeoBidModifierUpdateManyWithHttpInfo
     *
     * Update multiple bid modifiers
     *
     * @param string $biddable_level Type of the biddable object (required)
     * @param string $biddable_id ID of the biddable object (account, campaign, ad_group) (required)
     * @param string $replace replace&#x3D;false means all existing bid modifiers are replaced. (optional, default to true)
     * @param \DcmModel\GeoBidModifier[] $body List with the bid modifiers (criterias and values) (optional)
     * @return Array of \DcmModel\BidModifier, HTTP status code, HTTP response headers (array of strings)
     * @throws \DcmApiClient\ApiException on non-2xx response
     */
    public function controllersGeoBidModifierUpdateManyWithHttpInfo($biddable_level, $biddable_id, $replace = null, $body = null)
    {
        // verify the required parameter 'biddable_level' is set
        if ($biddable_level === null) {
            throw new \InvalidArgumentException('Missing the required parameter $biddable_level when calling controllersGeoBidModifierUpdateMany');
        }
        // verify the required parameter 'biddable_id' is set
        if ($biddable_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $biddable_id when calling controllersGeoBidModifierUpdateMany');
        }
        // parse inputs
        $resourcePath = "/geo_bid_modifier/{biddable_level}/{biddable_id}/";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($replace !== null) {
            $queryParams['replace'] = $this->apiClient->getSerializer()->toQueryValue($replace);
        }
        // path params
        if ($biddable_level !== null) {
            $resourcePath = str_replace(
                "{" . "biddable_level" . "}",
                $this->apiClient->getSerializer()->toPathValue($biddable_level),
                $resourcePath
            );
        }
        // path params
        if ($biddable_id !== null) {
            $resourcePath = str_replace(
                "{" . "biddable_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($biddable_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('DCM-API-KEY');
        if (strlen($apiKey) !== 0) {
            $headerParams['DCM-API-KEY'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\DcmModel\BidModifier',
                '/geo_bid_modifier/{biddable_level}/{biddable_id}/'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\DcmModel\BidModifier', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\DcmModel\BidModifier', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
